.header {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header-logo {
    width: 200px;
    height: 90px;
    background-image: url('~@/assets/imgs/logomarca-taprocurando.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  a {
    color: $gray-900;
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
  }

  .nav-item {
    position: relative;
    transition: all ease-in-out;
    &:hover {
      transition: all ease-in-out;
      .top-line {
        animation: widthAnim .2s forwards;
      }
      .right-line {
        animation: heightAnim .2s forwards;
        animation-delay: .05s;
      }
      .bottom-line {
        animation: widthAnim .2s forwards;
        animation-delay: .2s;
      }
      .left-line {
        animation: heightAnim .2s forwards;
        animation-delay: .25s;
      }
    }

    .left-line {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 2px;
      height: 0%;
      background-color: $primary;
    }

    .right-line {
      position: absolute;
      top: 0;
      right: 0;
      width: 2px;
      height: 0%;
      background-color: $primary;
    }

    .bottom-line {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 2px;
      background-color: $primary;
    }

    .top-line {
      position: absolute;
      top: 0;
      left: 0;
      height: 2px;
      background-color: $primary;
    }
  }
  .nav-mobile{
    display: none;
  }

  .menu{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .burguer{
    display: none;
    .line{
      width: 23px;
      height: 3px;
      background: $primary;
      margin: 4px 0;
      border: 1px solid $primary;
    }
  }

}

@keyframes widthAnim {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
  
}

@keyframes heightAnim {
  from {
    height: 0%;
  }

  to {
    height: 100%;
  }
  
}