.busca{
  padding: 2em 4em;
  min-height: 450px;
  width: 100%;
  background-image: url("~@/assets/imgs/644873f3-544d-4bfb-b19b-a673308b7373.hw1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tabs{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.tab{
  margin: 20px 0 1.5px 1.5px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  font-size: 1.25rem;
  padding: 10px 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: $font-family-sans-serif-secondary;
  transition: all .2s ease-in-out;
  width: 20%;
  &:hover{
    cursor: pointer;
  }
  img{
    margin-right: 10px;
    height: 1.65rem;
  }
  &.casa{
    
    background: $gray-200;
    color: $indigo;
    &.active{
      background: $light;
    }
  }
  &.pousada{
    background: $indigo;
    color: $light;
    &.active{
      background: $light;
      color: $indigo;
    }
  }
  &.hotel{
    background: $orange;
    color: $light;
    &.active{
      background: $light;
      color: $orange;
    }
  }
  &.beira-mar{
    background: $teal;
    color: $light;
    &.active{
      background: $light;
      color: $teal;
    }
  }
  &.sitio{
    background: $pink;
    color: $light;
    &.active{
      background: $light;
      color: $pink;
    }
  }
}

.search-box{
  font-family: $font-family-sans-serif;
  margin: 0 auto;
  width: 99.5%;
  height: 15%;
  padding: 5%;
  background: rgba(0, 0, 0, 0.44);
  margin: 0 auto;
  color: $light;
  display: flex;
  align-items: center;
  justify-content: center;
  input{
    text-align: center;
    border-radius: 7vh;
    border: 2px solid $primary;
    height: 5vh;
  }
  .form-search{
    display: flex;
  }
  .destino{
    display: flex;
    flex-direction: column;
    img{
      width: 35px;
      margin-right: 5px;
    }
  }
  .datas{
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    .input{
      input{
        width: 150px;
        margin: 0 5px
      }
    }
  }
  .hospedes{
    display: flex;
    align-items: center;
    .dropdown{
      margin: 5px;
      width: 200px;
      border: 2px solid $light;
      border-radius: 7vh;
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 5vh;
      p{
        margin-top: 6.5%;
      }
    }
  }
  .buscar{
    align-self: center;
    &:hover{
      cursor: pointer;
    }
    .btn{
      width: 100px;
      border-radius: 7vh;
      height: 7vh;
      background-color: $primary;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}
