.div-card{
  border: 2px solid $primary;
  border-radius: 10px;
  .card{
    border: none;
  }
  img{
    border: 0px solid $primary;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  .btn{
    background-color: $primary;
    color: $orange;
  }
}