.navApp{
  padding: 1em;
  background-color: $primary;
  font-family: $font-family-sans-serif;
  width: 100%;
  top: 75px;
  margin-bottom: 50px;

  .nav-link{
    color: white!important;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    transition: all ease-in .1s;
    &:hover{
      color: $cyan!important;

    }
  }
  .icon-sub{
    width: 20px;
    margin: 0 10px;
  }
  .nome-cidade{
    font-size: .85rem;
    svg{
      margin-right: 5px;
    }
    a:hover{
      color: white!important;
    }
  }
}
.mobile-nav{
  display: none;
}
