.navApp{
  padding: .75em;
  background-color: $primary;
  .nav-link{
    color: white!important;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    &:hover{
      color: $cyan!important;
      
    }
  }
  .icon-sub{
    width: 20px;
    margin: 0 10px;
  }
  .nome-cidade{
    font-size: .85rem;
    svg{
      margin-right: 5px;
    }
    a:hover{
      color: white!important;
    }
  }
}