$light:    #FDFFFC;
$gray-100: #E8E8E8;
$gray-200: #d1d1d1;
$gray-300: #bababa;
$gray-400: #a3a3a3;
$gray-500: #8c8c8c;
$gray-600: #747474;
$gray-700: #5d5d5d;
$gray-800: #464646;
$gray-900: #2f2f2f;
$dark: #181818;