@media screen and (max-width: 425px){
  .header{
    padding: .05rem .5rem;
    flex-direction: column;
    .header-logo{
      width: 220px;
      height: 50px;
    }
  }
  .nav-links{
    display: none;
  }
  .nav-mobile{
    display: flex!important;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .burguer{
    display: block!important;
  }

  .navApp{
    display: none;
  }

}
