@media screen and (max-width: 425px){
  .header{
    background: white;
    flex-direction: column;
    .row{
      min-width: 100vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .header-logo{
      height: 50px;
    }
  }
  .nav-links{
    display: none;
  }
  .nav-mobile{
    display: flex!important;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .burguer{
    display: block!important;
  }
}
